<h1>Playlists#show</h1>
<p>Find me in app/views/playlists/show.html.erb</p>

<p><%= @playlist.name %> </p>
<p> TRACKS </p>
  <ol> 
      <%@playlist.tracks.each do |track| %>
      <li><%= track.name %></li>
      <% end %>
  </ol>
<p> Add/remove tracks </p>

<%= form_tag(track_search_path, method: "get") do %>
<%= hidden_field_tag 'playlist_id', @playlist.id %>
<%= text_field_tag(:q) %>
<%= submit_tag("search") %>
<% end %>

<p> <%= link_to "edit playlist", edit_playlist_path(@playlist) %></p>
<p> <%= link_to "delete", playlist_path(@playlist), method: :delete %> </p>